body
{
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden !important;
  font-family: 'Quicksand', sans-serif;
}
.row
{
  margin: 0px;
  padding: 0px;
}
.mt
{
  margin: 10px;
}
.mt5
{
  margin-top: 50px;
}
#No_margin
{
  margin-top: 0;
}
.BorderLeftB
{
  border-left: 5px solid #00bcd4;
}
.BorderLeftW
{
  border-left: 5px solid #fff;
}
.BorderLeftG
{
  border-left: 5px solid #212121;
}
.LandingBg
{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  animation-name: slider;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes slider {
   0%   {background-image: url("../img/bg1.jpg");}
   25%   {background-image: url("../img/bg2.jpg");}
   50%   {background-image: url("../img/bg3.jpg");}
   75%   {background-image: url("../img/bg4.jpg");}
   100%  {background-image: url("../img/bg1.jpg");}
}

.registerHead
{
  color: #00bcd4;
  padding: 20px;
  background-image: url("../img/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#akgec
{
  color: #fff;
  font-size: 1.3rem;
  width: 500px;
  padding: 10px;
  border: 3px solid #00bcd4;
  font-weight: bold;
  text-shadow: 2px 2px 10px #212121;
  margin-left: 0px;
  margin-right: 0px;
  margin:auto;
  margin-top: 200px;
}
.logo img
{
  width: 50px;
  height: 50px;
  float: left;
}
#Main_text
{
  margin-top: 20px;
  letter-spacing: 6px;
  color: #fff;
  font-size: 4rem;
  text-shadow: 0px 0px 10px #fff;
  font-family: 'Cabin Sketch', cursive;
}
#main_btn
{
  margin-top: 80px;
}
.container
{
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-panel
{
  padding:20px !important;
  border-radius: 20px;
  background-color: #00bcd4 !important;
}
.about_text
{
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 3px;
  line-height: 40px;
}
#dean
{
  margin-top: 120px;
  letter-spacing: 4px;
  font-family: 'Quicksand', sans-serif;
  color: #00bcd4;

}
#first_row
{
  height: 350px;
}
#webteam_row
{
  height: 380px;
  padding: 50px;
}
.whitebg
{
  background-color: #fff;
}
.RespLg
{
  width: 200px;
  height: 200px;
}
#Dean_card
{
  width: 250px;
  height: 250px;
}
.card-content
{
  border-bottom: 4px solid #00bcd4;
  padding: 10px !important;
  letter-spacing: 1px;
}
.card-title
{
  font-size: 1rem !important;
}

.divider
{
  background-color: #212121;
}


.input-field input[type=text]:focus{
  border-bottom: 1px solid #00bcd4 !important;
  box-shadow: 0 1px 0 0 #00bcd4 !important;
}

.input-field input[type=tel]:focus{
  border-bottom: 1px solid #00bcd4 !important;
  box-shadow: 0 1px 0 0 #00bcd4 !important;
}
.checkbox input[type=checkbox]:checked{
  color: #00bcd4;
}
.input-field .prefix.active{
  color: #00bcd4 !important;
}
ul.dropdown-content.select-dropdown li span {
    color: #00bcd4;
}
label.active
{
  color: #00bcd4 !important;

}
.error
{
  color: #ff5252;
}
.Register_btn
{
  background-color: #00bcd4 !important;
}
.SI
{
  color: #00bcd4;
  letter-spacing: 1px;
}
#footer
{
  padding: 50px;
}
@media (max-width:768px)
{
 .RespMed
 {
   width: 150px;
   height:150px ;
 }
 .card-content
 {
    padding: 0px !important;
 }

 #dean
 {
   margin-top: 10px;
 }
 .LandingBg
 {
   background-image: url("../img/bgMobile.png");
 }
}
@media (max-width:480px)
{
  #akgec
  {
    font-size: 1rem;
    width: auto;
    border: none;
    margin-top: auto;
    color: #fff;
  }

  #Main_text
  {
    font-size: 1.2rem;
    margin-top: 150px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 2px #fff;
  }
  .card-title
  {
    font-size: 1.2rem !important;
  }
  @keyframes slider {
    0% {background-image: url("../img/bgm1.jpg");}
    100% {background-image: url("../img/bgm1.jpg");}
  }
  .LandingBg
  {
    height: 400px;
  }
  #webteam_row
  {
    padding: 10px !important;
    height: auto;
  }
}
@media (min-width:300px)
{

  .SmallResp
  {
    float: right;
  }
}


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.cursor {
    animation: blink 0.7s infinite;
}
